<template>
  <div class="product">
    <h1 class="text-center">{{ product.title }}</h1>
    <v-container>
      <v-row no-gutters>
        <v-col cols="6" md="4">
          <v-card class="pa-2" tile>
            <v-carousel cycle height="500">
              <v-carousel-item
                v-for="(slide, i) in product.images"
                :key="i"
                :src="slide"
              >
              </v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col>
        <v-spacer></v-spacer>
        <v-col cols="11" sm="5" md="7">
          <v-card class="pa-2" tile>
            <v-tabs
              v-model="tab"
              background-color="transparent"
              color="#f57c00"
              grow
            >
              <v-tab v-for="item in items" :key="item">
                {{ item }}
              </v-tab>
            </v-tabs>

            <v-tabs-items v-model="tab">
              <v-tab-item v-for="item in items" :key="item">
                <v-card color="basil" flat>
                  <v-card-text>{{ product[item] }}</v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// import ProductService from "@/services/product-service";

export default {
  props: ["id"],
  data() {
    return {
      singleProd: {},
      tab: null,
      items: ["title", "brand", "description", "category"],
    };
  },
  methods: {
    showProduct(id) {
      this.$store.dispatch("products/getProductById", id);
    },
  },
  created() {
    this.showProduct(this.id);
    // ProductService.getProductId(this.id)
    //   .then((response) => {
    //     this.product = response.data[0];
    //   })
    //   .catch((error) => {
    //     console.log("There was an error:", error.response);
    //   });
  },
  computed: {
    product() {
      return this.$store.state.products.product;
    },
  },
};
</script>
<style>
h1 {
  margin-bottom: 1rem;
}
.v-window__prev {
  left: 0;
}
.v-window__next {
  right: 0;
}
.basil--text {
  color: #356859 !important;
}
</style>
