<template>
  <v-dialog :value="dialogValue" max-width="290">
    <v-card>
      <v-card-title class="text-h5"> Users who bought </v-card-title>

      <v-card-text v-for="user in users" :key="user.id">
        <v-card width="400" class="user-card">
          <v-avatar size="56">
            <img :src="user.image" alt="user" />
          </v-avatar>
          <p class="ml-3">
            {{ user.firstName }}
          </p>
        </v-card>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" text @click="closeModalWindow()">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// import ProductService from "@/services/product-service";

export default {
  data() {
    return {
      absolute: false,
      overlay: false,
    };
  },
  // watch: {
  //   product: function () {
  //     ProductService.getProductUsers(this.product.userId)
  //       .then((response) => {
  //         this.users = response.map((item) => item.data[0]);
  //       })
  //       .catch((error) => {
  //         console.log("There was an error:", error.response);
  //       });
  //   },
  // },
  methods: {
    closeModalWindow() {
      this.$emit("onCloseModalToggle", false);
    },
  },
  props: {
    dialogValue: Boolean,
    product: Object,
  },
  computed: {
    users() {
      return this.$store.state.users.users;
    },
  },
};
</script>

<style scoped>
.v-application .mt-12 {
  margin-top: 0px !important;
}
.user-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
}
</style>
