<template>
  <div class="allProducts">
    <v-hover v-slot="{ hover }" v-for="product in products" :key="product.id">
      <v-card class="mx-auto" max-width="344">
        <v-carousel cycle height="300" hide-delimiters :show-arrows="false">
          <v-carousel-item
            v-for="(slide, i) in product.images"
            :key="i"
            :src="slide"
          >
          </v-carousel-item>
          <v-expand-transition>
            <div
              v-if="hover"
              class="product-price transition-fast-in-fast-out v-card--reveal"
              style="height: 100%"
            >
              ${{ product.price }}
            </div>
          </v-expand-transition>
        </v-carousel>

        <v-card-title>
          {{ product.title }}
        </v-card-title>

        <v-card-actions>
          <router-link
            :to="{
              name: 'show-products',
              params: { id: product.id, title: product.title },
            }"
            class="card-button"
            >More Info</router-link
          >
          <v-spacer></v-spacer>

          <!-- modal button-->

          <v-btn color="primary" dark @click.stop="showModalWindow(product)">
            Open Dialog
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn icon @click="showProduct(product)">
            <v-icon>{{
              product.show ? "mdi-chevron-up" : "mdi-chevron-down"
            }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <div v-show="product.show">
            <v-divider></v-divider>

            <v-card-text>
              {{ product.description }}
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </v-hover>
  </div>
</template>

<script>
export default {
  props: {
    products: [],
  },
  methods: {
    showProduct(product) {
      product.show = !product.show;
    },
    showModalWindow(product) {
      this.$emit("onModalToggle", true);
      this.$store.dispatch("users/getProductUsers", product.userId);
    },
  },
};
</script>

<style scoped>
.product-price {
  background-color: #f57c00;
  display: flex;
  opacity: 1 !important;
  color: #fff;
  font-size: 3.75rem;
}
.card-button {
  color: #ffb74d;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: block;
  transition: all 0.4s;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.1rem solid #ffb74d;
}
.card-button:hover {
  background-color: rgb(225, 183, 77, 0.3);
  color: #000;
}
.v-card__title {
  word-break: normal;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
.allProducts {
  display: flex;
  flex-wrap: wrap;
}
</style>
