<template>
  <div class="mainWrapper">
    <div class="searchFilterSection">
      <SearchComponent @input="searchProducts"></SearchComponent>
      <SortComponent
        :options="sortingOptions"
        :value="$store.state.products.sort"
        @input="onSort"
      ></SortComponent>
      <label class="menu">
        <input v-model="viewSwitcher" type="checkbox" checked />
        <div>
          <span></span>
          <span></span>
        </div>
      </label>
    </div>
    <div v-if="viewSwitcher">
      <ProductCardList
        :products="$store.state.products.products"
        @onModalToggle="onModalToggle"
      />
    </div>
    <div v-else>
      <ProductCardTable
        :products="$store.state.products.products"
        @onModalToggle="onModalToggle"
      />
    </div>
    <div class="text-center">
      <v-pagination
        circle
        color="#ffb74d"
        :value="page"
        :length="pagesCount"
        @input="onPageChange"
      ></v-pagination>
    </div>
    <ModalWindowComponent
      :dialogValue="dialogValue"
      @onCloseModalToggle="onCloseModalToggle"
    />
  </div>
</template>

<script>
import ProductCardList from "@/components/ProductCardList";
import ProductCardTable from "@/components/ProductCardTable";
import SearchComponent from "@/components/SearchComponent";
import SortComponent from "@/components/SortComponent";
import ModalWindowComponent from "@/components/ModalWindowComponent";
export default {
  data() {
    return {
      sortingOptions: ["price", "title", "rating"],
      viewSwitcher: true,
      dialogValue: false,
    };
  },
  computed: {
    pagesCount() {
      return Math.ceil(
        this.$store.state.products.pagination.total /
          this.$store.state.products.pagination.itemsPerPage
      );
    },
    page() {
      return this.$store.state.products.pagination.page;
    },
  },
  components: {
    ProductCardList,
    ProductCardTable,
    SearchComponent,
    SortComponent,
    ModalWindowComponent,
  },
  created() {
    this.getProducts();
  },
  methods: {
    searchProducts(searchStr) {
      this.$store.commit("products/searchValue", searchStr);
      this.getProducts();
    },
    onPageChange(page) {
      this.$store.commit("products/setPage", page);
      this.getProducts();
    },
    getProducts() {
      this.$store.dispatch("products/getAllProducts");
    },
    onSort(config) {
      this.$store.commit("products/sort", config);
      this.$store.dispatch("products/getAllProducts");
    },
    onModalToggle(bool) {
      this.dialogValue = bool;
    },
    onCloseModalToggle(bool) {
      this.dialogValue = bool;
    },
  },
};
</script>
<style scoped lang="scss">
.mainWrapper {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.searchFilterSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  --front: #f57c00;
  --back: #f57c00;
  --icon: white;
  perspective: 600px;
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  input {
    display: none;
    & + div {
      span {
        --rotateY: 0deg;
        --background: var(--front);
        transform: rotateY(var(--rotateY));
        transform-style: preserve-3d;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: var(--background);
        backface-visibility: hidden;
        transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
        &:before,
        &:after {
          --rotate: 0deg;
          content: "";
          position: absolute;
          width: 16px;
          height: 2px;
          border-radius: 1px;
          top: 50%;
          left: 50%;
          background: var(--icon);
          backface-visibility: hidden;
          transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
        }
        &:first-child {
          --background: var(--back);
          &:before {
            box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
          }
          &:after {
            display: none;
          }
        }
        &:last-child {
          --rotateY: 180deg;
          &:before {
            --rotate: -45deg;
          }
          &:after {
            --rotate: 45deg;
          }
        }
      }
    }
    &:checked + div {
      span {
        &:first-child {
          --rotateY: -180deg;
        }
        &:last-child {
          --rotateY: 0deg;
        }
      }
    }
  }
}
</style>
