<template>
  <div>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Id</th>
            <th class="text-left">Name</th>
            <th class="text-left">Price</th>
            <th class="text-left">Brand</th>
            <th class="text-left">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in products" :key="product.id">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>$ {{ product.price }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.category }}</td>
            <td>
              <v-btn
                color="primary"
                dark
                @click.stop="showModalWindow(product)"
              >
                Open Dialog
              </v-btn>
            </td>
            <td>
              <router-link
                :to="{
                  name: 'show-products',
                  params: { id: product.id, title: product.title },
                }"
                class="card-button"
                >More Info</router-link
              >
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
export default {
  props: {
    products: [],
  },
  methods: {
    showModalWindow(product) {
      this.$emit("onModalToggle", true);
      this.$store.dispatch("users/getProductUsers", product.userId);
    },
  },
};
</script>

<style scoped>
.product-price {
  background-color: #f57c00;
  display: flex;
  opacity: 1 !important;
  color: #fff;
  font-size: 3.75rem;
}
.card-button {
  color: #ffb74d;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: block;
  transition: all 0.4s;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.1rem solid #ffb74d;
}
.card-button:hover {
  background-color: rgb(225, 183, 77, 0.3);
  color: #000;
}
.v-card__title {
  word-break: normal;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>
