<template>
  <v-col class="d-flex" cols="6" sm="6">
    <v-text-field
      :value="value"
      v-debounce:700ms="onKeyDown"
      autofocus
      maxlength="25"
      label="Search"
    ></v-text-field>
  </v-col>
</template>

<script>
export default {
  props: {
    value: String,
  },
  methods: {
    onKeyDown(value) {
      this.$emit("input", value);
    },
  },
};
</script>

<style scoped></style>
