<template>
  <v-col class="d-flex" cols="4" sm="4">
    <v-select
      :items="options"
      label="Sort"
      :value="value.key"
      @change="onSelectOption"
    ></v-select>
    <v-switch
      :value="value.isAsc"
      :label="`${value.isAsc ? 'A-Z' : 'Z-A'}`"
      @change="onSelectOrder"
    ></v-switch>
  </v-col>
</template>

<script>
export default {
  props: {
    options: [],
    value: Object,
  },
  methods: {
    onSelectOption(option) {
      this.$emit(
        "input",
        Object.assign(this.value, {
          key: option,
        })
      );
    },
    onSelectOrder(order) {
      this.$emit(
        "input",
        Object.assign(this.value, {
          isAsc: order,
        })
      );
    },
  },
};
</script>

<style scoped></style>
